<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>


{% for row_index in all_files %}
    <tr>
        <td>{{ row_index.order_id }}</td>
        <td>{{ row_index.order_item_count }}</td>
    </tr>
    <br/>
{% endfor %}


{% for row_index in item %}
    <div class="card">
        <div class="container">
            <h4 class="item_name"><b>{{ row_index.item_name }}</b></h4>
            <p class="item_addedby">Added by {{ row_index.item_addedby }}</p>
        </div>
    </div>
{% endfor %}

Hooray, you are logged in as:
{{ current_user.email }}
<br/>
<a href={{ url_for('logout') }}>
    Logout
</a>
</body>
</html>
